@media(max-width : 576px)
{
  body{
    width:100%;

  }
}

@media(min-width : 576px)  and (max-width:992px)
{
  body{
    width:100%;

  }

}

@media(min-width : 992px)
{
  body{
    width:100%;
  }

}
