<ul class="nav nav-pills mb-5 pt-5">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="bi bi-house"></i
    ></a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
      >Home</a
    >
  </li> -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/listeResa']" routerLinkActive="active"
      >listeResa</a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
      >Connexion</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/detailResa']" routerLinkActive="active"
      >Detail resa</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/inscription']"
      routerLinkActive="active"
      >Inscription</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/nouvelResa']" routerLinkActive="active"
      >Nouvelle Reservation</a
    >
  </li>
  <!-- <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      id="navbarDropdownMenuLink"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
        width="40"
        height="40"
        class="rounded-circle"
      />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Dashboard</a>
      <a class="dropdown-item" href="#">Edit Profile</a>
      <a class="dropdown-item" href="#">Log Out</a>
    </div>
  </li> -->

  <li class="nav-item dropdown" style="position: absolute; right: 0px">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
        width="40"
        height="40"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Log Out</a></li>
    </ul>
  </li>
</ul>

<!-- <ul class="nav nav-pills pt-5">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
        width="40"
        height="40"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Log Out</a></li>
    </ul>
  </li>
</ul> -->
