<app-nav-bar></app-nav-bar>
{{ formInscription | json }}
<div class="container pb-10" class="" style="background-color: #f1d7c3">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                Inscription
              </p>

              <div class="mx-1 mx-md-4">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="form3Example1c"
                      class="form-control"
                      autofocus
                      required
                      placeholder="Saisir votre nom"
                      [(ngModel)]="formInscription.nom"
                    />
                    <label class="form-label" for="form3Example1c">Nom</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="form3Example1c"
                      class="form-control"
                      required
                      placeholder="Saisir votre prenom"
                      [(ngModel)]="formInscription.prenom"
                    />
                    <label class="form-label" for="form3Example1c"
                      >Prenom</label
                    >
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input
                      value="1993-01-21"
                      type="date"
                      id="form3Example1c"
                      class="form-control"
                      required
                      [(ngModel)]="formInscription.naissance"
                    />
                    <label class="form-label" for="form3Example1c"
                      >Date de Naissance</label
                    >
                  </div>
                </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example1c" class="form-control" placeholder="hotel@jordaninou.com" required [(ngModel)] = "formInscription.mail" />
                      <label class="form-label" for="form3Example1c">Email</label>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="form3Example3c"
                      class="form-control"
                      required
                      placeholder="Saisir votre login"
                      [(ngModel)]="formInscription.login"
                    />
                    <label class="form-label" for="form3Example3c">Login</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input
                      type="password"
                      id="form3Example4c"
                      class="form-control"
                      required
                      placeholder="Saisir votre password"
                      [(ngModel)]="formInscription.password"
                    />
                    <label class="form-label" for="form3Example4c"
                      >Password</label
                    >
                  </div>
                </div>
                <div class="typeCompte">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c"
                        >Type Compte</label
                      >
                      <select
                        class="select"
                        [(ngModel)]="formInscription.className"
                      >
                        <option value="Client" selected>Client</option>
                        <option value="Admin">Admin</option>
                        <option value="Personnel">Personnel</option>
                      </select>
                    </div>
                  </div>
                </div>
                <br />
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button
                    (click)="save()"
                    class="btn btn-primary btn-lg"
                    style="background-color: #fdcdba"
                  >
                    S'inscrire
                  </button>
                  <a href="index.html"
                    ><button
                      type="button"
                      class="btn btn-primary btn-lg"
                      style="background-color: #fdcdba"
                    >
                      Retour
                    </button></a
                  >
                </div>
              </div>
            </div>
            <div
              class="
                col-md-10 col-lg-6 col-xl-7
                d-flex
                align-items-center
                order-1 order-lg-2
              "
            >
              <img
                src="assets/imginscription.jpg"
                class="img-fluid"
                alt="Sample image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
