<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">Information de la reservation :</div>
      <div class="card-body">
        <!-- <div class="input-group">
          <label class="input-group-text">Keyword</label>
          <input type="text" name="" class="form-control" id="champR" />
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div> -->
        <div class="input-group">
          <label class="input-group-text col-md-5"
            >Numéro de la réservation :</label
          >
          <input
            type="text"
            name=""
            class="form-control"
            id="champR"
            disabled
          />
        </div>
        <div class="input-group">
          <label class="input-group-text col-md-5">Date début :</label>
          <input type="text" name="" class="form-control" id="champR" />
        </div>
        <div class="input-group">
          <label class="input-group-text col-md-5">Date fin :</label>
          <input type="text" name="" class="form-control" id="champR" />
        </div>

        <div class="input-group">
          <label class="input-group-text col-md-5">Type logement :</label>
          <select class="form-select">
            <option selected>Type logement</option>
            <option value="chambresimple">Chambre simple</option>
            <option value="suite">Suite</option>
            <option value="suitepresidentielle">Suite présidentielle</option>
          </select>
        </div>
        <input type="checkbox" checked data-toggle="toggle" />
        <div>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="" id="" />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="" id="" />
          </div>
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
